<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Sampling studio </title>
    <style>
        .row {
            display: flex;
          }
          .center {
            margin: auto;
            width: 50%;
            
          }
          
          .column {
            flex: 50%;
          }

          #graph1{
            height: 500px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
          }
    </style>
</head>
<body>
    
    <label for="sig">Choose a Signal file:</label>
            <input type="file"
                   id="sig" name="signal"
                   accept=".xlsx, .xls, .csv" oninput="importSignal()">

<div class="row">
    <div class="column" id="graph1">
    </div>
    <div class="column" id="graph2">hi
    </div>
</div>
<div class="center" id="graph3" >a7a  </div>



<script>



    //Add Empty plot on load, and hide buttons and sliders
    const layout = { title: 'Please add your signal', yaxis: { title: 'y', fixedrange: true }, xaxis: { title: 'x', fixedrange: true, rangemode: 'tozero'}, width : 1500 }; // fixedrange -> No pan when there is no signal
        const plotDiv = document.getElementById('graph1');
        const config = {
            displayModeBar: false, //disable plotlytool bar when there is no signal
        }
        Plotly.newPlot(plotDiv, [], layout, config);



    let x=[];
    let y=[];
    function importSignal() {
        // Get the selected file
        const fileInput = document.getElementById('sig');
        const file = fileInput.files[0];

        // Create a new FileReader object
        const reader = new FileReader();

        // Define a callback function to handle the file data
        reader.onload = (event) => {
            // Get the file data as a string
            const fileData = event.target.result;

            // Split the string into lines
            const lines = fileData.split(/\r?\n/);

            // Create arrays for each column
          //  const Time = [];
           // const Amplitude = [];

            // Loop through the lines and split each line into columns
            for (let i = 0; i < lines.length; i++) {
                const columns = lines[i].split(',');

                // Store the column values in their respective arrays
                x.push(columns[0]);
                y.push(columns[1]);
            }
        }
    }

</script>
</body>
</html>