<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Sampling studio </title>
    <style>
        .row {
            display: flex;
          }
          .center {
            margin: auto;
            width: 50%;
            
          }
          
          .column {
            flex: 50%;
          }
    </style>
</head>
<body>
    
    <label for="sig">Choose a Signal file:</label>
            <input type="file"
                   id="sig" name="signal"
                   accept=".xlsx, .xls, .csv" oninput="importSignal()">
    <div class="compose" >
        <label for="frequency" id ="freq_slider">Adjust frequency:</label>
                <input type="range" min="1" max="20" value="1" class="slider" id="frequency"></div>
                <label for="amplitude" id ="amp_slider">Adjust amplitude:</label>
                <input type="range" min="1" max="20" value="1" class="slider" id="amplitude"></div>
    </div>              

<div class="row">
    <div class="column" id="graph1">hi
    </div>
    <div class="column" id="graph2">hi
    </div>
</div>
<div class="center" id="graph3" >a7a  </div>



<script>
    let x=[];
    let y=[];
    function importSignal() {
        // Get the selected file
        const fileInput = document.getElementById('sig');
        const file = fileInput.files[0];

        // Create a new FileReader object
        const reader = new FileReader();

        // Define a callback function to handle the file data
        reader.onload = (event) => {
            // Get the file data as a string
            const fileData = event.target.result;

            // Split the string into lines
            const lines = fileData.split(/\r?\n/);

            // Create arrays for each column
          //  const Time = [];
           // const Amplitude = [];

            // Loop through the lines and split each line into columns
            for (let i = 0; i < lines.length; i++) {
                const columns = lines[i].split(',');

                // Store the column values in their respective arrays
                x.push(columns[0]);
                y.push(columns[1]);
            }
        }

</script>
</body>
</html>