<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Sampling studio </title>
    <style>
        .row {
            display: flex;
          }
          .center {
            margin: auto;
            width: 50%;
            
          }
          
          .column {
            flex: 50%;
          }
    </style>
</head>
<body>
<div class="row">
    <div class="column" id="graph1">hi
    </div>
    <div class="column" id="graph2">hi
    </div>
</div>
<div class="center" id="graph3" >a7a  </div>




</body>
</html>